header {
    background: #752416;
    background-image: url("../images/beaut-japan2.png");
    background-size: cover;
}

nav {
    color: #eee;
    text-align: right;
    padding: 0em 1em 2em 0em;
    margin: 12vw 0vw 0vw 0vw;
}